@media screen and (min-width: 1000px) {

    body {
        background-image: url(../images/bg-intro-desktop.png);
        background-repeat: repeat;
    }

    .intro {
        align-items: center;
        column-gap: 2.1875rem;
        display: grid;
        grid-template-areas: 
        "pitch wrapper"
        "footer footer"
        ;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1rem;
        padding: 1.5rem 1.5rem 8px 1.5rem;
        width: 100%;
    }
    
    .pitch {
        grid-area: pitch;
        justify-self: right;
        padding: 4.6875rem 1.25rem 3.9375rem 0;
        text-align: left;
        width: 33.75rem;
    }

    .pitch__title {
        font-size: 3.1rem;
    }
    
    .wrapper {
        justify-self: left;
    }

    .offer {
        grid-area: wrapper;
        padding: 1.0625rem 4.875rem 1rem 4.875rem;
        width: 33.75rem;
    }
    
    .signup {
        grid-area: wrapper;
        padding: 2.5rem 2.5rem 2.5rem 2.5rem;
        width: 33.75rem;
    }
    
    .signup__enter {
        margin: 0 0 1.3125rem 0;
        padding: 1.0625rem 0 0.9375rem 2rem;
    }
    
    .signup__error-text {
        bottom: 1.1875rem;
    }

    .signup__button {
        padding: 0.9375rem 0 0.8125rem 0;
    }
    
    .signup__terms {
        padding: 1.125rem 0.9375rem 0 0.9375rem;
    }
    
    footer {
        grid-area: footer;
    }

}