// first name
.js-fn-error-icon {
    display: none;
}

.js-fn-error-text {
    display: none;
}

// last name
.js-ln-error-icon {
    display: none;
}

.js-ln-error-text {
    display: none;
}

// email name
.js-email-error-icon {
    display: none;
}

.js-email-error-text {
    display: none;
}

// password name
.js-pw-error-icon {
    display: none;
}

.js-pw-error-text {
    display: none;
}