// error icon
.js-fn-error-icon {
    display: none;
}

.js-ln-error-icon {
    display: none;
}

.js-pw-error-icon {
    display: none;
}

// error text
.js-fn-error-text {
    display: none;
}

.js-ln-error-text {
    display: none;
}

.js-pw-error-text {
    display: none;
}